*{
  margin: 0;
  padding: 0;
}
.main{
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%,
   rgba(0, 0, 0, 0.5)50%), url(./admin/ha.jpg);
   background-position: center;
   background-size: cover;
   height: 109vh;
}
.navbar{
  width: 1200px;
  height: 75px;
  margin: auto;
}
 .icon{
  width: 200px;
float: left;
height: 70px;
}
.logo{
  color: #335605;
  font-size: 35px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 10px; 
}
.menu{
  width: 400px;
  float: right;
  height: 70px;
}
.home-ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
ul li{
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}
ul li a{
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
ul li a:hover{
  color: #7bc916;
}
.search{
  width: 330px;
  float: left;
  margin-left: 270px;
  text-align: right;
}
.srch{
  width: 200px;
  font-family: 'Times New Roman';
  height: 40px;
  background: transparent;
  border: 1px solid #335605;
  margin-top: 13px;
  color: #fff;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  text-align: right;
}
.btn{
  width: 100px;
  height: 40px;
  background: #335605;
  border: 2px solid #335605;
  margin-top: 13px;
  color: #fff;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn:focus{
  outline: none;
}
.srch:focus{
  outline: none;
}
 
 .content{
    width: 1200px;
    height: auto;
   margin: auto;
    color: #011e02;
    position: relative;
    float: left;
    font-family: cursive;
    
    
    }
    .content .par{
      padding-left: 20px;
      padding-bottom: 25px;
      font-family: Arial;
      letter-spacing: 1.2px;
      line-height: 30px;
      color: #7bc916;
    }
    .content h1{
      font-family: 'Times New Roman';
      font-size: 60px;
      left: 870px;
      margin-top: 9%;
      letter-spacing: 2px;
    }

      .form{
        width: 310px;
        height: 500px;
        background: linear-gradient(to top, rgba(0, 0, 0, 8)50%, rgba(0, 0, 0, 8)50%);
        position: absolute;
        top: -20px;
        left: 950px;
        border-radius: 10px;
        padding: 25px;
        margin-top: 5px;
      }
      .form h2{
        width: 220px;
        font-family: sans-serif;
        text-align: center;
        color: #7bc916;
        font-size: 22px;
        background-color: white;
        border-radius: 10px;
        margin: 2px;
        padding: 8px;
      
      }
      .form input{
        width: 250px;
        height: 50px;
        background: transparent;
        border-bottom: 1px solid #7bc916;
        border-top: none;
        border-left: none;
        border-right: none;
        color: #fff;
        font-size: 15px;
        letter-spacing: 1px;
        margin-top: 30px;
        font-family: sans-serif;
      }
      .form input:focus{
        outline: none;
      }
      ::placeholder{
        
        color: #7bc916;
      }
      .btnn{
        width:  250px;
        height: 35px;
        background: #7bc916;
        border: none;
        margin-top: 30px;
        font-size: 18px;
        border-radius: 10px;
        cursor: pointer;
        color: #fff;
        transition: 0.4s ease;
      }
      .btnn:hover{
        background: #fff;
        color: #7bc916;
      }
      .btnn a{
        text-decoration: none;
        color: black;
        font-weight: bold;
      }
      .form .link{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        padding-top: 20px;
        text-align: center;
      }
      .form .link a{
        text-decoration: none;
        color: #7bc916;
      }
      .liw{
        padding-top: 15px;
        padding-bottom: 10px;
        text-align: center;
      }
      .btn a{
        text-decoration: none;
        color: black;
        font-weight: bold;
      }
      .form .link{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        padding-top: 20px;
        text-align: center;
        color: white;
      }
      .form .Link a{
        text-decoration: none;
        color: white;
      }
      .liw{
        padding-top: 15px;
        padding-bottom: 10px;
        text-align: center;
        color: #335605;
      }
      .social a{
        text-decoration: none;
        color: #fff;
        font-size: 30px;
        padding-left: 25px;
        padding-top: 5px;
        transition: 0.3s ease;
      }
      .social a:hover{
        color: #7bc916;
      }